<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [5]:
import re
import pandas as pd

In [6]:
filename = "log.txt"
line_number = 1
data = list()
travis = True

with open(filename) as f:
    for line in f:
        line = line.rstrip("\n")
        if "_ test_" in line:
            if travis:
                line = line[9:-8]
            try:
                test, case = line.strip("_").strip().split("[")
                case = case.rstrip("]")
            except:
                test = line.strip("_")
                case = ""
            data.append([test, case, "Line {}".format(str(line_number))])

        line_number += 1

In [7]:
df = pd.DataFrame(data, columns=["test", "case", 'Line'])#
df.to_csv('failed.csv')

In [8]:
df

,test,case,Line
0,test_add,empty_data,Line 3067
1,test_add,columns_only,Line 3108
2,test_div,empty_data,Line 3174
3,test_div,columns_only,Line 3215
4,test_divide,columns_only,Line 3281
5,test_divide,empty_data,Line 3347
6,test_floordiv,empty_data,Line 3388
7,test_floordiv,columns_only,Line 3429
8,test_mod,columns_only,Line 3495
9,test_mod,empty_data,Line 3561
10,test_mul,empty_data,Line 3602
11,test_mul,columns_only,Line 3643
12,test_multiply,columns_only,Line 3709
13,test_multiply,empty_data,Line 3775
14,test_pow,empty_data,Line 3816
15,test_pow,columns_only,Line 3853
16,test_sub,columns_only,Line 3927
17,test_sub,empty_data,Line 3993
18,test_subtract,empty_data,Line 4034
19,test_subtract,columns_only,Line 4075
20,test_truediv,columns_only,Line 4141
21,test_truediv,empty_data,Line 4207
22,test___div__,empty_data,Line 4248
23,test___div__,columns_only,Line 4289
24,test_eq,columns_only,Line 4355
25,test_eq,empty_data,Line 4421
26,test_ge,empty_data,Line 4462
27,test_ge,columns_only,Line 4503
28,test_gt,columns_only,Line 4569
29,test_gt,empty_data,Line 4635
...,...,...,...
784,test_min,numeric_only None-skipna None-over columns int...,Line 66608
785,test_min,numeric_only None-skipna None-over columns int...,Line 66777
786,test_min,numeric_only None-skipna None-over columns str...,Line 66845
787,test_min,numeric_only None-skipna None-over columns str...,Line 67015
788,test_mode,numeric_only True-over rows int-empty_data,Line 67254
789,test_mode,numeric_only True-over rows int-columns_only,Line 67416
790,test_mode,numeric_only True-over rows str-empty_data,Line 67812
791,test_mode,numeric_only True-over rows str-columns_only,Line 67968
792,test_mode,numeric_only True-over columns int-empty_data,Line 68542
793,test_mode,numeric_only True-over columns int-columns_only,Line 68612
794,test_mode,numeric_only True-over columns str-empty_data,Line 69283
795,test_mode,numeric_only True-over columns str-columns_only,Line 69427
796,test_mode,numeric_only False-over rows int-empty_data,Line 70162
797,test_mode,numeric_only False-over rows int-columns_only,Line 70324
798,test_mode,numeric_only False-over rows str-empty_data,Line 70801
799,test_mode,numeric_only False-over rows str-columns_only,Line 70963
800,test_mode,numeric_only False-over columns int-empty_data,Line 71366
801,test_mode,numeric_only False-over columns int-columns_only,Line 71510
802,test_mode,numeric_only False-over columns str-empty_data,Line 72169
803,test_mode,numeric_only False-over columns str-columns_only,Line 72325
804,test_mode,numeric_only None-over rows int-empty_data,Line 73070
805,test_mode,numeric_only None-over rows int-columns_only,Line 73140
806,test_mode,numeric_only None-over rows str-empty_data,Line 73714
807,test_mode,numeric_only None-over rows str-columns_only,Line 73784
808,test_mode,numeric_only None-over columns int-empty_data,Line 74284
809,test_mode,numeric_only None-over columns int-columns_only,Line 74428
810,test_mode,numeric_only None-over columns str-empty_data,Line 75095
811,test_mode,numeric_only None-over columns str-columns_only,Line 75165
812,test_nunique,dropna True-over rows int-columns_only,Line 76009
813,test_nunique,dropna True-over rows str-columns_only,Line 76255