<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [7]:
import modin.pandas as pd
import pandas

import numpy as np
#from modin.pandas.test.utils import test_data

ImportError: cannot import name 'count_not_none'

In [79]:
def generate_dataset(filename, columns, dtypes, size):
    def _num_to_str(x):
        letters = ''
        while x:
            mod = (x - 1) % 26
            letters += chr(mod + 65)
            x = (x - 1) // 26
        return ''.join(reversed(letters))

    # Check that the number of column names is the same as the nubmer of dtypes
    if len(columns) != len(dtypes):
        raise ValueError("len(columns) != len(dtypes)")
    result_dict = {}
    for col, dtype in zip(columns, dtypes):
        if dtype is str:
            result_dict[col] = [_num_to_str(x+1) for x in np.arange(size, dtype=int)]
        elif dtype is bool:
            result_dict[col] = [x%2==0 for x in np.arange(size, dtype=int)]
        else:
            result_dict[col] = np.arange(size, dtype=dtype)
    result = pd.DataFrame(result_dict)
    return result

In [166]:
df = pandas.read_csv("Modin Testing/kaggle22/sample_submission.csv")
df.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.5,0.5,0.5,0.5,0.5,0.5
1,0000247867823ef7,0.5,0.5,0.5,0.5,0.5,0.5
2,00013b17ad220c46,0.5,0.5,0.5,0.5,0.5,0.5
3,00017563c3f7919a,0.5,0.5,0.5,0.5,0.5,0.5
4,00017695ad8997eb,0.5,0.5,0.5,0.5,0.5,0.5

In [167]:
df.columns.values

array(['id', 'toxic', 'severe_toxic', 'obscene', 'threat', 'insult',
       'identity_hate'], dtype=object)

In [168]:
dtypes = []
for item in df.iloc[0]:
    if isinstance(item, str):
        dtypes.append(str)
    elif isinstance(item, (int, np.int64)):
        dtypes.append(int)
    elif isinstance(item, float):
        dtypes.append(float)
    else:
        print(type(item))

In [169]:
generate_dataset("kaggle/pkmn.csv", df.columns, dtypes, 4)

  id  toxic  severe_toxic  obscene  threat  insult  identity_hate
0  A    0.0           0.0      0.0     0.0     0.0            0.0
1  B    1.0           1.0      1.0     1.0     1.0            1.0
2  C    2.0           2.0      2.0     2.0     2.0            2.0
3  D    3.0           3.0      3.0     3.0     3.0            3.0

In [170]:
dtypes

[str, float, float, float, float, float, float]